<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="lv.n3o.swapper" android:versionName="0.1.1"
	android:versionCode="49">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowClearUserData="true" android:persistent="false">
		<activity android:name=".Swapper" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SwapperSettings" android:label="@string/app_name"
			android:screenOrientation="landscape"></activity>
		<activity android:name=".SwapperPreferences" android:label="@string/app_name"></activity>
		<receiver android:name=".SwapperAutorun">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>

	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest>